<a routerLink="/admin/meals"><button class="btn"><span style="color: rgb(31, 90, 57);"> La liste de tous les plats 👉</span></button></a>
<a routerLink="/admin/users"><button class="btn"><span style="color: rgb(31, 90, 57);"> La liste des Utilisateurs 👉</span></button></a>
<div *ngIf="menus">   
    <p class="styleMenu">Nos menus 👩‍🍳</p>
    <section>
        <table class="table table-striped">
            <thead>
                <tr class="barreMenu">
                <th>Menus 🍱 et <span style="color: rgb(235, 13, 13);"> Plats 🍵</span></th>
                <th>Prix</th>
                <th>Id</th>
                <th>Images</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let menu of menus">
            <td><a [routerLink]="['/admin/menu', menu.id]">{{menu.label}}</a>
                <ul>
                    <li>
                        <div *ngFor="let meal of menu.meals">
                            <p style="color: red">{{ meal.label }}</p>
                        </div> 
                    </li>
                </ul>
            </td>
            <td>{{menu.priceDF}}</td>
            <td>{{menu.id}}</td>
            <td>{{menu.imageId}}
                <div class="ser-icon">
                    <img
                      src="../../../../assets/uploads/menu-img-01.jpg"
                      class="img-fluid"
                      alt=""
                    />
                </div>
                
            </td>
                    
            <!-- <td><a class="btn btn-danger" (click)="onDelete(meal.id)">X</a></td>  -->
            </tr>
            </tbody> 
        </table>
        <!-- <div style="background-color: blue; font-size: 20px; text-align: center;"><button><a routerLink="/newmenu"><strong> New Menu </strong></a></button></div> -->

    </section>