.message-box h2 {
    font-size: 34px;
    font-weight: 700;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

.message-box p {
    margin-bottom: 20px;
}

.choice {
    margin-bottom: 1rem;
}

.sim-btn {
    margin-right: 5px;
}

.sim-btn:focus {
    background: #664a3fcc;
    outline: none;
}

hr {
    border-top: 2px solid rgba(0,0,0,.1);
}

header {
    margin-bottom: 35px;
}

header .message-box {
    margin-bottom: 20px;
}