<!-- Avec image
    <div *ngFor="let menu of menus; let i = index;" class="col-md-4 col-sm-6 gallery-grid gal_a">
    <div class="gallery-single fix">
        <img [src]="menusImages[i].image64" class="img-fluid" alt="Image">
        <div class="img-overlay">
            <h3>{{ menu.label }}</h3>
            <a [routerLink]="['menu', menu.id, 'meals']" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
        </div>
    </div>
</div> -->

<!-- Sans image
    <div *ngFor="let menu of menus" class="col-md-4 col-sm-6 gallery-grid gal_a">
    <div class="gallery-single fix">
        <img src="../../../assets/uploads/gallery_img-01.jpg" class="img-fluid" alt="Image">
        <div class="img-overlay">
            <h3>{{ menu.label }}</h3>
            <a [routerLink]="['menu', menu.id, 'meals']" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
        </div>
    </div>
</div> -->

<div class="col-md-4 col-sm-6 gallery-grid gal_a">
    <div class="gallery-single fix">
        <img src="../../../assets/uploads/gallery_img-01.jpg" class="img-fluid" alt="Image">
        <div class="img-overlay">
            <h3>Vegetable Food</h3>
            <a [routerLink]="['menu', 1, 'meals']" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
        </div> <!--routerLink="../second-component"--> <!--[routerLink]="['/menu/', 1, '/meals']"-->
    </div>
</div>

<div class="col-md-4 col-sm-6 gallery-grid gal_a">
    <div class="gallery-single fix">
        <img src="../../../assets/uploads/gallery_img-02.jpg" class="img-fluid" alt="Image">
        <div class="img-overlay">
            <h3>Vegetable Food</h3>
            <a href="../../../assets/uploads/gallery_img-02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-6 gallery-grid gal_a">
    <div class="gallery-single fix">
        <img src="../../../assets/uploads/gallery_img-03.jpg" class="img-fluid" alt="Image">
        <div class="img-overlay">
            <h3>Vegetable Food</h3>
            <a href="../../../assets/uploads/gallery_img-03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-6 gallery-grid gal_a">
    <div class="gallery-single fix">
        <img src="../../../assets/uploads/gallery_img-04.jpg" class="img-fluid" alt="Image">
        <div class="img-overlay">
            <h3>Vegetable Food</h3>
            <a href="../../../assets/uploads/gallery_img-04.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
        </div>
    </div>
</div>