<div class="section lb">
  <div class="container-fluid">
    <header>
      <button [routerLink]="['all']" class="sim-btn hvr-radial-in">
        Toutes mes commandes
      </button>
      <div class="row">
        <div class="col-md-7">
          <div class="message-box">
            <h2>Mon panier</h2>
          </div>
        </div>

        <div class="col-md-5">
          <div class="message-box">
            <h2>
              Argent restant : <span class="text-important">229.00 €</span>
            </h2>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="col-md-8">
        <div class="message-box">
          <h2>Menu: Hueco Mundo</h2>
          <p>Plat : Resureccion</p>
          <p>Dessert: Tiramisu</p>
          <p>Prix: <span class="text-important">11.50 €</span></p>
        </div>

        <button class="sim-btn hvr-radial-in">Commander</button>
      </div>
      <div class="col-md-3">
        <div class="services-inner-box">
          <div class="ser-icon">
            <img
              src="../../../../assets/uploads/gallery_img-01.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-8">
        <div class="message-box">
          <h2>Plat: Resureccion</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
            magna magna, ornare gravida neque at, bibendum sagittis turpis.
            Aenean rutrum magna vitae massa vehicula congue. Nullam vitae metus
            id dolor pharetra lobortis in eu massa.
          </p>
          <p>Prix: <span class="text-important">4.00 €</span></p>
        </div>

        <button class="sim-btn hvr-radial-in">Commander</button>
      </div>
      <div class="col-md-3">
        <div class="services-inner-box">
          <div class="ser-icon">
            <img
              src="../../../../assets/uploads/menu-img-01.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
