<!-- Avec image -->
<div class="row">
  <!-- <div *ngFor="let meal of meals; let i = index" class="col-md-3">
    <div class="services-inner-box">
      <div class="ser-icon">
        <img [src]="mealsImages[i].image64" class="img-fluid" alt="">
      </div>
      <h2>{{ meal.label }}</h2>
      <a class="hvr-radial-in" [routerLink]="['../orders']">{{ meal.priceDF }} €</a>
    </div>
  </div> -->

  <!-- Sans image -->
  <div *ngFor="let meal of meals" class="col-md-3">
    <div class="services-inner-box">
      <div class="ser-icon">
        <img src="../../../../assets/uploads/menu-img-02.jpg" class="img-fluid" alt="">
      </div>
      <h2>{{ meal.label }}</h2>
      <a class="hvr-radial-in cursor-pointer" (click)="orderMaker(meal.id)">{{ meal.priceDF }} €</a>
      <!-- <a class="hvr-radial-in" [routerLink]="['../orders']">{{ meal.priceDF }} €</a> -->
    </div>
  </div>

</div>
<div *ngIf="loading" class="row spinner-container">
  <mat-spinner></mat-spinner>
</div>
