<div class="col-md-4 col-sm-6 gallery-grid gal_b">
    <div class="gallery-single fix">
        <div class="services-inner-box">
            <div class="ser-icon">
              <img
                src="../../../../assets/uploads/menu-img-01.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <h2>Vegetable Name..</h2>
            <a class="hvr-radial-in" [routerLink]="['../orders']">$ 18.00</a>
          </div>
    </div>
</div>

<div class="col-md-4 col-sm-6 gallery-grid gal_b">
    <div class="gallery-single fix">
        <div class="services-inner-box">
            <div class="ser-icon">
              <img
                src="../../../../assets/uploads/menu-img-01.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <h2>Vegetable Name..</h2>
            <a class="hvr-radial-in" [routerLink]="['../orders']">$ 18.00</a>
          </div>
    </div>
</div>

<div class="col-md-4 col-sm-6 gallery-grid gal_b">
    <div class="gallery-single fix">
        <div class="services-inner-box">
            <div class="ser-icon">
              <img
                src="../../../../assets/uploads/menu-img-01.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <h2>Vegetable Name..</h2>
            <a class="hvr-radial-in" [routerLink]="['../orders']">$ 18.00</a>
          </div>
    </div>
</div>

<div class="col-md-4 col-sm-6 gallery-grid gal_b">
    <div class="gallery-single fix">
        <div class="services-inner-box">
            <div class="ser-icon">
              <img
                src="../../../../assets/uploads/menu-img-01.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <h2>Vegetable Name..</h2>
            <a class="hvr-radial-in" [routerLink]="['../orders']">$ 18.00</a>
          </div>
    </div>
</div>

<div class="col-md-4 col-sm-6 gallery-grid gal_b">
    <div class="gallery-single fix">
        <div class="services-inner-box">
            <div class="ser-icon">
              <img
                src="../../../../assets/uploads/menu-img-01.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <h2>Vegetable Name..</h2>
            <a class="hvr-radial-in" [routerLink]="['../orders']">$ 18.00</a>
          </div>
    </div>
</div>
