<div id="menu" class="section lb">
  <div class="container-fluid">
    <h2 id="title">Desserts</h2>

    <div class="row">
      <div class="col-md-3">
        <div class="services-inner-box">
          <div class="ser-icon">
            <img
              src="../../../../assets/uploads/menu-img-01.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <h2>Vegetable Name..</h2>
          <a class="hvr-radial-in" [routerLink]="['../../../../orders']">$ 18.00</a>
        </div>
      </div>
      <!-- end col -->
      <div class="col-md-3">
        <div class="services-inner-box">
          <div class="ser-icon">
            <img
              src="../../../../assets/uploads/menu-img-01.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <h2>Vegetable Name..</h2>
          <a class="hvr-radial-in" href="#">$ 18.00</a>
        </div>
      </div>
      <!-- end col -->
      <div class="col-md-3">
        <div class="services-inner-box">
          <div class="ser-icon">
            <img
              src="../../../../assets/uploads/menu-img-01.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <h2>Vegetable Name..</h2>
          <a class="hvr-radial-in" href="#">$ 18.00</a>
        </div>
      </div>
      <!-- end col -->
      <div class="col-md-3">
        <div class="services-inner-box">
          <div class="ser-icon">
            <img
              src="../../../../assets/uploads/menu-img-01.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <h2>Vegetable Name..</h2>
          <a class="hvr-radial-in" href="#">$ 18.00</a>
        </div>
      </div>
      <!-- end col -->
      <div class="col-md-3">
        <div class="services-inner-box">
          <div class="ser-icon">
            <img
              src="../../../../assets/uploads/menu-img-01.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <h2>Vegetable Name..</h2>
          <a class="hvr-radial-in" href="#">$ 18.00</a>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->
