<div id="infos" class="section lb"><!--class="section lb"-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="message-box">
          <h2>Informations sur les commandes</h2>
          <div class="row">
            <div class="col-md-9">
              <p>Commande(s) pour le jour même</p>
            </div>
            <div class="col-md-3">
              <p>8:30 - 10:30</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <p>Commande(s) reportée(s) par défaut au jour suivant</p>
            </div>
            <div class="col-md-3">
              <p>8:31 - 13:00</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <p>Commande(s) pour le(s) jour(s) suivant(s) (jour(s) à définir au préalable)</p>
            </div>
            <div class="col-md-3">
              <p>8:30 - 13:00</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <p>Nombre max. de commandes par jour est 500</p>
            </div>
            <div class="col-md-3">
              <p>Encore <span class="text-important">352</span></p>
            </div>
            
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="right-box-pro wow fadeIn">
          <img
            src="../../../assets/uploads/about_01.png"
            alt="image informations"
            class="img-fluid img-rounded"
          />
        </div>
      </div>
    </div>
  </div>
</div>
