.styleAdmin{
    padding: 15px; 
    margin: 15px 0px; 
    font-size: 22px; 
    background-color:rgb(27, 163, 27); 
    color: white;
 }
 .blocAdmin{
    border: solid 10px #f46f23; 
    
    text-align: center;
 }
 .barreMenu{
     font-size: medium;
 }
