<div class="col-md-4 col-sm-6 gallery-grid gal_c">
    <div class="gallery-single fix">
        <img src="../../../assets/uploads/gallery_img-08.jpg" class="img-fluid" alt="Image">
        <div class="img-overlay">
            <h3>Vegetable Food </h3>
            <a href="../../../assets/uploads/gallery_img-08.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-6 gallery-grid gal_c">
    <div class="gallery-single fix">
        <img src="../../../assets/uploads/gallery_img-09.jpg" class="img-fluid" alt="Image">
        <div class="img-overlay">
            <h3>Vegetable Food </h3>
            <a href="../../../assets/uploads/gallery_img-09.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
        </div>
    </div>
</div>
