#mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
}

.navbar-dark{
	background: #ffffff;
}

.navbar-dark .navbar-nav .nav-link{
	color: #3a3a3a;
	letter-spacing: 1px;
	font-size: 16px;
	position: relative;
	padding: 10px 15px;
}
.navbar-dark .navbar-nav .nav-item{
	margin: 0px 5px;
}
.navbar-dark .navbar-nav .nav-item span{
	position: relative;
	z-index: 2;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
	color: #ffffff;
	background: #8dbd56;
}
.navbar-dark .navbar-nav .nav-link.active{	
	color: #ffffff;
	background: #8dbd56;
}
.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 5px;
    background: #664a3f;
    position: absolute;
    bottom: 0;
    left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
    border-radius: 0px;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 0;
}
.navbar-dark .navbar-nav .nav-link.active::after {
	width: 84.5%;
	height: 100%;
}

.navbar-default .btn-light {
    padding: 0 20px;
    margin-left: 15px;
}