mat-card-content .container {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.space {
  width: 15%;
}

.form-space {
  width: 100%;
  height: 38px;
  margin-bottom: 1rem;
  /* margin-right: -15px;
    margin-left: -15px; */
}

@media screen and (max-width: 767px) {
  .space .form-space {
    display: none;
  }
}
