<div class="section lb">
  <div class="container-fluid">
    <mat-card>
      <mat-card-content>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>{{ user.firstname }}</p>
              <p>{{ user.email }}</p>
              <p>{{ user.sex }}</p>
              <p>{{ user.address }}</p>
              <p>{{ user.town }}</p>
            </div>

            <div class="col-md-6">
              <p>{{ user.name }}</p>
              <p>Mot de passe</p>
              <div class="space"></div>
              <p>{{ user.phone }}</p>
              <p>{{ user.postalCode }}</p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
