<div class="section lb">
  <div class="container-fluid">
    <mat-card>
      <mat-card-content>
        <div class="container">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row mb-5">
                <!-- <div class="rounded-circle border"> -->
                  <img *ngIf="profilePicture" [src]="profilePicture.image64" class="img-fluid border rounded-circle shadow-sm p-3 mb-3 bg-white" alt="">
                  
                  <div class="custom-file">
                    <input (change)="convertBase64($event)" [(ngModel)]="profilePicture.imagePath" id="imagePath" type="file" accept="image/png, image/jpeg" formControlName="imagePath">
                  </div>
                <!-- </div> -->
              </div>
              <div class="row">
                <div class="col-md-5">
                  <!-- <div>
                  <label>
                    Prénom :
                    <input type="text" formControlName="firstname" [(ngModel)]="user.firstname">
                  </label>
                  </div> -->
                  <div class="form-group row">
                    <div class="col-md-5">
                      <label>Prénom :</label>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" formControlName="firstname" [(ngModel)]="user.firstname">
                    </div>
                  </div>
                  <!-- <label>
                    <span>Email :</span>
                    <input type="email" class="form-control" formControlName="email" [(ngModel)]="user.email">
                  </label> -->
                  <div class="form-group row">
                    <div class="col-md-5">
                      <label>Email :</label>
                    </div>
                    <div class="col-md-7">
                      <input type="email" class="form-control" formControlName="email" [(ngModel)]="user.email">
                    </div>
                  </div>
                  <!-- <div>
                  <!- <label>
                    Sexe :
                      <mat-form-field appearance="fill">
                        <mat-select formControlName="sex" [(value)]="user.sex">
                          <mat-option value="0">Homme</mat-option>
                          <mat-option value="1">Femme</mat-option>
                          <mat-option value="2">Autre</mat-option>
                        </mat-select>
                      </mat-form-field>
                  </label> ->
                  <mat-form-field>
                    <mat-label>Sexe :</mat-label>
                    <mat-select formControlName="sex" [(value)]="sex">
                      <mat-option value="0">Homme</mat-option>
                      <mat-option value="1">Femme</mat-option>
                      <mat-option value="2">Autre</mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div> -->
                  <div class="form-group row">
                    <div class="col-md-5">
                      <label>Sexe :</label>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control" formControlName="sex" [(ngModel)]="user.sex">
                        <option value="0">Homme</option>
                        <option value="1">Femme</option>
                        <option value="2">Autre</option>
                      </select>
                    </div>
                  </div>
                  <!-- <div>
                  <label>
                    Adresse :
                    <input type="text" formControlName="address" [(ngModel)]="user.address" placeholder="21 ALLEE DES BOSQUETS">
                  </label>
                  </div> -->
                  <div class="form-group row">
                    <div class="col-md-5">
                      <label>Adresse :</label>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" formControlName="address" [(ngModel)]="user.address" placeholder="21 ALLEE DES BOSQUETS">
                    </div>
                  </div>
                  <!-- <div>
                  <label>
                    Ville :
                    <input type="text" formControlName="town" [(ngModel)]="user.town" placeholder="Marseille">
                  </label>
                  </div> -->
                  <div class="form-group row">
                    <div class="col-md-5">
                      <label>Ville :</label>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" formControlName="town" [(ngModel)]="user.town" placeholder="Marseille">
                    </div>
                  </div>
                </div>
                <div class="space" style="width: 15%;"></div>
                <div class="col-md-5">
                  <!-- <div>
                  <label>
                    Nom :
                    <input type="text" formControlName="name" [(ngModel)]="user.name">
                  </label>
                  </div> -->
                  <div class="form-group row">
                    <div class="col-md-5">
                      <label>Nom :</label>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" formControlName="name" [(ngModel)]="user.name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-5">
                      <label>Nouveau mot de passe :</label>
                    </div>
                    <div class="col-md-7">
                      <input type="password" class="form-control" formControlName="password" [(ngModel)]="user.password">
                    </div>
                  </div>
                  <div class="form-space"></div>
                  <!-- <div>
                  <label>
                    Tel :
                    <input type="tel" formControlName="phone" [(ngModel)]="user.phone" pattern="[0-9]{10}"
                    placeholder="0782354512">
                    <!- <input type="tel" formControlName="phone" [(ngModel)]="user.phone"
                    pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                    placeholder="0782354512 ou +33 782354512"> ->
                  </label>
                  </div> -->
                  <div class="form-group row">
                    <div class="col-md-5">
                      <label>Tel :</label>
                    </div>
                    <div class="col-md-7">
                      <input type="tel" class="form-control" formControlName="phone" [(ngModel)]="user.phone" pattern="[0-9]{10}"
                    placeholder="0782354512">
                    </div>
                  </div>
                  <!-- <div>
                  <label>
                    Code postal :
                    <input type="text" formControlName="postalCode" [(ngModel)]="user.postalCode" pattern="[0-9]{5}" placeholder="94110">
                  </label>
                  </div> -->
                  <div class="form-group row">
                    <div class="col-md-5">
                      <label>Code postal :</label>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" formControlName="postalCode" [(ngModel)]="user.postalCode" pattern="[0-9]{5}" placeholder="94110">
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="sim-btn hvr-radial-in" [disabled]="!form.valid">Modifier</button>
            </form>
          </div>
        <!-- </div> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
