<div class="container">
    <div [hidden]="submitted">
        <h1 class="text-center">Créer un nouveau menu</h1>
        <form [formGroup]="menuForm" (ngSubmit)="onSubmit()" #registerForm="ngForm">

           <div class="form-group">
                <label for="name">Nom du menu : </label>
                <input type="text" class="form-control" id="name" formControlName="label" required> 
           </div>
           <div class="form-group">
                <label for="price">Prix : </label>
                <input type="text" class="form-control" id="price" formControlName="priceDF" required> 
           </div>
           <div class="form-group">
                <label for="category">Categorie : </label>
                <input type="number" class="form-control" id="category" formControlName="category" required> 
           </div>  

            <div class="text-center my-5">
                <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid" (click)="valider()">Envoyez</button>
            </div>
        </form>
    </div>
   <div *ngIf="clickSubmit">
       <span *ngIf="registerForm.form.invalid" [ngClass]="{'bad': 'message.error'}"> {{ message }}</span> 
    </div>
</div>
